[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
requests = "*"
mysql-connector-python = "*"
parameterized = "*"

[dev-packages]

[requires]
python_version = "3.12"
