[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-nested-routers = "*"
django-filters = "*"
pymysql = "*"
requests = "*"
mysql-connector-python = "*"
parameterized = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
